

  nav{
  
    
    text-align: center;
    margin-left: 2em ;
    margin-right: 0em;
    display: flex;
    flex-direction: row;
    width: 100%;
    
     
  }


  #navbar{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
    width: 100%;
    margin-right: 5rem;
  }

  #btn-group{
    display:flex;
    gap: 2rem;
    /* right: 58px; */
    
    

  }

  nav img{
    height: 150px;
    /* position:fixed;  */
    top:40; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /* right: 56px; */
  } 

  nav a {
    color:#131210;
    width: 100px;
    background-color: #90a4d2;
    
    float: right;

    display: flex;
    flex: 1;
    justify-content: space-evenly;
    

    
    border: 2px solid rgb(68, 71, 76);
    height: 25px; 

    
    margin-top: 5rem;
    margin-bottom: 5rem;
    
    border-top-left-radius: 10rem 10rem; /* rounded corner! */
    border-top-right-radius: 10rem 10rem; /* another rounded corner! */
    border-bottom-left-radius: 10rem 10rem;
    border-bottom-right-radius: 10rem 10rem;
  } 

  nav a:hover, nav a:focus {
    color: black;
    background-color: rgb(122, 128, 212);
    font-weight: bold;
  } 

  
  